body
{
	margin: 0px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	scrollbar-width: thin;
	font-family: 'Spline Sans', sans-serif;
	font-weight: 100;
	color: #a7a7a7;
	height: max-content;

	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
.side_bar
{
	height: 100vh;
	width: 50px;
	box-shadow: 0px 0px 20px rgb(102, 102, 102);
	float: left;
	margin-right: 50px;
}
.side_bar:hover
{
	width: 350px;
}
.side_bar-img
{
	width: 100%;
	float: left;
	cursor: pointer;
}
.side_bar-entry, .side_bar-entry-custom
{
	width: calc(100% - 20px);
	float: left;
	display: inherit;
	font-weight: 400;
	padding: 5px 0px 5px 15px;
	color: inherit;
	cursor: pointer;
	background-color: inherit;
}
.side_bar-entry:hover, .side_bar-entry-custom:hover
{
	color: white;
	background-color: #c40000;
}
.line
{
	height: 15px;
	width: 100%;
	float: left;
	background-color: white;
}
#small_image
{
	display: block;
	margin-top: 10px;
}
#big_image, #list
{
	display: none;
}
#list
{
	float: left;
	width: 100%;

	height: calc(100vh - 90px);
	overflow-y: scroll;
}
.side_bar:hover > #small_image
{
	display: none;
}
.side_bar:hover > #big_image, .side_bar:hover > #list
{
	display: block;
}
#content
{
	width: calc(100% - 450px);
	float: left;
	margin-left: 50px;
	color: #3c3c3c;
	overflow-y: scroll;
	height: 100vh;
}
#entries
{
	width: 100%;
	float: left;
}






.title, .subtitle
	{
		float: left;
		width: 100%;
		font-family: 'Space Grotesk';
		font-size: 30px;
		font-weight: 900;
		margin-bottom: 30px;
	}
	.subtitle
	{
		font-size: 25px;
		font-weight: 400;
	}
	.text, .symbol_link
	{
		float: left;
		width: 100%;
	}
	code
	{
		background-color: rgb(234, 234, 234);
		font-size: 120%;
		font-weight: 300;
		padding: 1px;
		float: left;
		margin-left: 4px;
		margin-right: 4px;
		line-height: 15px;
	}
	.code_entry
	{
		width: 30px;
	}
	span
	{
		float: left;
	}
	.symbol_link
	{
		margin-bottom: 8px;
		cursor: pointer;
	}
	.symbol_link:hover
	{
		color: #c40000;
	}

	#provided
	{
		float: left;
		width: 100%;
		margin-left: 25px;
		margin-bottom: 50px;
	}

.value_container
{
	width: 100%;
	float: left;
}

.value_entry-provided
{
	
	font-size: 14px;
	font-weight: 300;
	width: 100%;
	color: #888888;
}
.value_entry
{
	font-family: 'Iosevka Fixed Web';
	font-size: 18px;
	font-weight: 300;
	color: #494949;
	margin: 3px 0px 3px 0px;
	height: fit-content;
	width: 400px;
	float: left;
	margin-bottom: 20px;
}
.value_entry-desc
{
	width: calc(100% - 400px);
	float: left;
}