<style>
	.subtitle
	{
		margin-bottom: 20px;
	}
	.symbol_link
	{
		font-family: 'Iosevka Fixed Web';
		font-size: 18px;
		font-weight: 400;
		color: #888888;
		margin: 3px 0px 3px 0px;
	}
</style>

<div style="margin-left: 10%; width: 80%; float: left; margin-top: 60px;">
	<div class="title">Summary of version 1.0</div>
	<div class="subtitle">Provided</div>
	<div id="provided">
	</div>
	
	<div class="subtitle">Modified</div>
	<div class="subtitle">Deprecated</div>
	<div class="text" style="margin-bottom: 30px;">
		
	</div>
</div>